@import url('./tokens.css');

header {
    color : var(--color-header);
    background-color: var(--color-header-text);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.menu-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-right: 1rem;
}

.menu-button {
    display: none;
    background-color: var(--color-links);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
}

nav {
    margin-left: 3rem;
    color: var(--color-nav);
    font-family: "Spectral", serif;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    width: 30rem;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    margin-left: 1rem;
    min-width: 11rem;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    margin-bottom: 0.1rem;
    margin-top: 0rem;
}

body {
    background-color: var(--color-background);
    font-family: "Spectral", serif;
}

a {
    color: var(--color-links);
}

main {
    color: var(--color-main-text);
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.about-me-line{
    margin-top: 0.1rem;
}

.reading-list{
    color: var(--color-main-text);
    background-color: var(--color-background);
}

/* For Mobile */
@media (max-width: 600px) {
    nav.mobile-nav {
        display: flex;
        flex-direction: column;
        max-width: 200px;
    }

    nav.mobile-nav.hidden {
        display: none
    }

    h1 {
        display: flex;
        margin-left: 1rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
        margin-bottom: 1rem;
        gap: 0.5rem;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-button {
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }
}

/* For Desktop */
@media (min-width: 600px) {
    nav.mobile-nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    nav.mobile-nav.hidden {
        display: flex !important;
    }
}

.hidden {
    display: none
}

.dark-mode-toggle {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--color-main-text);
    font-family: "Spectral", serif;
    font-size: 0.9rem;
  }