:root {
    --color-main-text: #32CA30;
    --color-header: #56de53;
    --color-header-text: #354735;
    --color-links: #14F412;
    --color-background: #3E453E;
    --color-nav: #90ee8d;
}

body.dark-mode {
    --color-main-text: #1b1b1b;
    --color-header: #1b1b1b;
    --color-header-text: #cee0be;
    --color-links: #005f4b;
    --color-background: #e6ffe6;
    --color-nav: #006644;
}